@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-size: 16px;
    font-weight: 500;
}
input, button {
    font-weight: 500!important;
}

.text-gradient {
    color: #000000;
    background-image: -webkit-linear-gradient(135deg, #0055CC 10%, #CA3521 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
:is(html[class~=dark] .text-gradient) {
    color: #000000;
    background-image: -webkit-linear-gradient(135deg, #0055CC 10%, #CA3521 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button-primary-cta {
    background: linear-gradient(180deg,#238aff,#07f);
    text-decoration: none;
    border-radius: 9999px;
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 0.5rem;
    text-shadow: 0 1px 1px #00387838;
    box-shadow: 0 1px 2px #00295738;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    transition: all .2s ease;
}
.button-primary-cta:hover {
    box-shadow: 0 5px 30px -10px #0078ffab;
    filter: brightness(1.05);
}

